{% extends 'glowny.html' %}

{% block tytul %} Potwierdź {% endblock %}

{% block strona %}
    <div class="card" style="width: 32rem;">
      <div class="card-body">
          <h5 class="card-title">Czy napewno chcesz usunac "{{ film.tytul }}" film?</h5>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Usun film</button>
        </form>
      </div>
    </div>

    <a href="{% url 'wszystkie_filmy' %}">Cofnij</a>
{% endblock %}